<ion-header>
  <ion-toolbar>
    <ion-title>Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="onSearch()" placeholder="Search stocks">
  </ion-searchbar>

  <ion-list>
    @for(result of searchResults; track result.symbol) {
    <ion-item (click)="goToDetail(result.symbol)" button>
      <ion-label>
        <h2>{{ result.symbol }}</h2>
        <p>{{ result.description }}</p>
      </ion-label>
      <ion-button slot="end" (click)="addToWatchlist(result.symbol)">
        + Watchlist
      </ion-button>
    </ion-item>
    }
  </ion-list>
</ion-content>